# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = Katie Fenn
#	email = katie.fenn@googlemail.com
[user]
	name = Katie Fenn
	email = katie.fenn@googlemail.com
[core]
	excludesfile = ~/.gitignore
